{
    "Version": "2012-10-17",
    "Id": "Policy1694704233145",
    "Statement": [
        {
            "Sid": "Stmt1694704231671",
            "Effect": "Allow",
            "Principal": "*",
            "Action": [
                "s3:GetObject",
                "s3:PutObject"
            ],
            "Resource": "arn:aws:s3:::uffiafilestorage/*"
        }
    ]
}



[
    {
        "AllowedHeaders": [
            "*"
        ],
        "AllowedMethods": [
            "GET",
            "HEAD"
        ],
        "AllowedOrigins": [
            "*"
        ],
        "ExposeHeaders": []
    }
]