<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Your One-Time Password</title>
</head>
<body>
    <!DOCTYPE html>
<html>

<div style="margin:auto;width:50%">


    <td>
      <table
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        width="600"
        style="
          border-collapse: collapse;
          font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        "
      >
        <tbody>
          <tr>
            <td>
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                  <tr>
                    <td height="30" style="padding: 20px 0 30px 0;">
                      <a
                        style="border: none;"
                        href="#"
                        rel="noreferrer"
                        target="_blank"
                        data-saferedirecturl="#"
                      >
                        <img
                          style="border: none; outline: none;width:60px"
                          src="https://uffiafilestorage.s3.amazonaws.com/icons/Screenshot+2023-10-01+at+10.40.56+AM.png"
                          alt="AiContent"
                          class="AiContent"
                          data-bit="iit"
                        />
    
                        <div
                          style="
                            display: none;
                            overflow: hidden;
                            float: left;
                            width: 0px;
                            max-height: 0px;
                            max-width: 0px;
                            line-height: 0px;
                          "
                        >
                          <img
                          style="border: none; outline: none;width:60px"
                            src="https://uffiafilestorage.s3.amazonaws.com/icons/Screenshot+2023-10-01+at+10.40.56+AM.png
                            alt="AIContent"
                            class=""
                            data-bit=""
                          />
                        </div>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding: 0 0 20px 0;">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                  <tr>
                    <td
                      style="font-size: 0; line-height: 0; padding: 0 0 25px 0;"
                      height="2"
                    >
                      <img
                        src="https://ci5.googleusercontent.com/proxy/oHqrmzWGlqe9gJgrbfrPFan8xhuI3li6wIPNjT1_bWNaVhu0cL7HnHJQo58V_jnYF-hSBoxR0l735Gze9AIhTG3Aomp_Elfyx7fIX0XPANsu1hemPGBPhJ90H7CVIQpA01Et=s0-d-e1-ft#https://www.siteground.com/static/en/img/emails/system/gettingstarted/spacer.gif"
                        width="40"
                        height="2"
                        alt="AI-Contnet"
                        class=""
                        data-bit="iit"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="
                        color: #363636;
                        font-weight: 700;
                        font-family: 'Roboto', Arial, Helvetica, sans-serif;
                        font-size: 26px;
                        line-height: 38px;
                        padding: 0 0 25px 0;
                      "
                    >

                      Hello {{name}},
                    </td>
                  </tr>
    
                  <tr>
                    <td
                      style="
                        color: #444444;
                        font-weight: 400;
                        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
                        font-size: 16px;
                        line-height: 26px;
                        padding: 0 0 25px 0;
                      "
                    >
                      Use the code below to authenticate:
                    </td>
                  </tr>
    
                  <tr>
                    <td
                      style="
                        color: #444444;
                        font-weight: 400;
                        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
                        font-size: 16px;
                        line-height: 26px;
                        padding: 0 0 25px 0;
                      "
                    >
                      <table
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                        bgcolor="#e6f6ea"
                      >
                        <tbody>
                          <tr>
                            <td
                              style="
                                color: #444444;
                                font-weight: 400;
                                font-family: 'Open Sans', Arial, Helvetica,
                                  sans-serif;
                                font-size: 16px;
                                line-height: 26px;
                                padding: 20px 25px 20px 25px;
                              "
                            >
                            {{ otp }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
    
                  <tr>
                    <td
                      style="
                        color: #444444;
                        font-weight: 400;
                        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
                        font-size: 16px;
                        line-height: 26px;
                        padding: 0 0 25px 0;
                      "
                    >
                      Please be aware that this code is temporary and will expire in
                      3 minutes.
                    </td>
                  </tr>
    
                  <tr>
                    <td
                      style="
                        color: #444444;
                        font-weight: 400;
                        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
                        font-size: 16px;
                        line-height: 26px;
                        padding: 0 0 25px 0;
                      "
                    >
                      You are receiving this code because a login to your account
                      was requested from an ip {{client_ip}} and {{ browser }}.
                    </td>
                  </tr>
    
                  <tr>
                    <td
                      style="
                        color: #444444;
                        font-weight: 400;
                        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
                        font-size: 16px;
                        line-height: 26px;
                        padding: 0 0 25px 0;
                      "
                    >
                      Regards,<br />
                      The AI Content
                    </td>
                  </tr>
    
                  <tr>
                    <td
                      style="
                        color: #a4a4a4;
                        font-weight: 400;
                        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
                        font-size: 13px;
                        line-height: 20px;
                        padding: 0px 0 25px 0;
                      "
                    ></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
    
  </div>

</body>
</html>
